con.content_type = application/json
con.accept  = application/json
con.setDoOutput = true
con.setDoInput = true

crater.currencyid = 13
crater.url = ${CRATER_URL}
crater.company = 1
crater.device_name = mobile_device
crater.username = ${CRATER_USERNAME}
crater.password = ${CRATER_PASSWORD}
